.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgba(233, 232, 236, 0.952);
}

html, body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

/* .header {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100px;
  background-color: #f6a192;
  text-align: left;
  width: 100%; */
/* } */

/* .big-button {
  display: flex;
  width: 190px;
  height: 45px;
  padding: 8px 5px 10px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F6A192;
  color: #FFE5B4;
} */


a {
  line-height: 1em;
  margin: 10px;
}

.column {
  float: left;
  width: 33%;
  padding: 2px 10px;
}

.row {margin: 2px 5px;}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  padding: 16px;
  text-align: center;
  background-color: #232541;
}


body {background-color: black;}

#button {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}

.logoutButton {
  position: absolute;
  top: 10px; right: 30px;
  background-color: purple;
  width: 125px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid grey;
  color: white;
  text-align: center;
}


.chordimage {
  height: 250px;
  width: 250px;
}