<h1>Welcome to www.example.com, <%= @user.name %></h1>
   <p>You have successfully signed up to www.example.com</p>
   <p>Your email address is : <%= @user.email%></p>
   <p>Your user name is : <%= @user.user_name%></p>
<p>Thanks for joining and have a great day!</p>